@import "bootstrap";

.navbar {
  font-family: "Helvetica Neue", Helvetica;
  font-weight: 200;
  background: image_url('strange_bullseyes.png');
}

.navbar a.navbar-brand {
  font-family: "Helvetica Neue", Helvetica;
  font-weight: 100;
  color: white;
}

